# Ignore the output of the toolflow
cpre381-toolflow/output/*
cpre381-toolflow/containers
cpre381-toolflow/internal/*
cpre381-toolflow/output
cpre381-toolflow/internal/ModelSimContainer/vcom.log
cpre381-toolflow/internal/ModelSimContainer/work/_info
cpre381-toolflow/internal/ModelSimContainer/work/_lib.qdb
cpre381-toolflow/output/test_failures.txt
cpre381-toolflow/output/add_1.s/vcom.log
cpre381-toolflow/output/add_1.s/vsim.dbg
cpre381-toolflow/output/add_1.s/vsim.log
cpre381-toolflow/output/add_1.s/vsim.wlf
cpre381-toolflow/output/add_1.s/work/_info
cpre381-toolflow/output/add_1.s/work/_lib.qdb
cpre381-toolflow/output/add_1.s/work/@_opt/_lib.qdb
cpre381-toolflow/output/add_1.s/work/@_opt/_lib1_0.qdb
cpre381-toolflow/output/add_1.s/work/@_opt/_lib1_0.qpg
cpre381-toolflow/output/add_1.s/work/@_opt/_lib1_0.qtl
cpre381-toolflow/output/add_1.s/work/@_opt/_lib2_0.qpg
cpre381-toolflow/output/add_1.s/work/@_opt/_lib2_0.qtl
cpre381-toolflow/output/add_1.s/work/@_opt/_lib3_0.qtl
cpre381-toolflow/output/add_2.s/vcom.log
cpre381-toolflow/output/add_2.s/vsim.dbg
cpre381-toolflow/output/add_2.s/vsim.log
cpre381-toolflow/output/add_2.s/vsim.wlf
cpre381-toolflow/output/add_2.s/work/_info
cpre381-toolflow/output/add_2.s/work/_lib.qdb
cpre381-toolflow/output/add_2.s/work/@_opt/_lib.qdb
cpre381-toolflow/output/add_2.s/work/@_opt/_lib1_0.qdb
cpre381-toolflow/output/add_2.s/work/@_opt/_lib1_0.qpg
cpre381-toolflow/output/add_2.s/work/@_opt/_lib1_0.qtl
cpre381-toolflow/output/add_2.s/work/@_opt/_lib2_0.qpg
cpre381-toolflow/output/add_2.s/work/@_opt/_lib2_0.qtl
cpre381-toolflow/output/add_2.s/work/@_opt/_lib3_0.qtl
cpre381-toolflow/output/add_3.s/vcom.log
cpre381-toolflow/output/add_3.s/vsim.dbg
cpre381-toolflow/output/add_3.s/vsim.log
cpre381-toolflow/output/add_3.s/vsim.wlf
cpre381-toolflow/output/add_3.s/work/_info
cpre381-toolflow/output/add_3.s/work/_lib.qdb
cpre381-toolflow/output/add_3.s/work/@_opt/_lib.qdb
cpre381-toolflow/output/add_3.s/work/@_opt/_lib1_0.qdb
cpre381-toolflow/output/add_3.s/work/@_opt/_lib1_0.qpg
cpre381-toolflow/output/add_3.s/work/@_opt/_lib1_0.qtl
cpre381-toolflow/output/add_3.s/work/@_opt/_lib2_0.qpg
cpre381-toolflow/output/add_3.s/work/@_opt/_lib2_0.qtl
cpre381-toolflow/output/add_3.s/work/@_opt/_lib3_0.qtl
cpre381-toolflow/output/addi_1.s/vcom.log
cpre381-toolflow/output/addi_1.s/vsim.dbg
cpre381-toolflow/output/addi_1.s/vsim.log
cpre381-toolflow/output/addi_1.s/vsim.wlf
cpre381-toolflow/output/addi_1.s/work/_info
cpre381-toolflow/output/addi_1.s/work/_lib.qdb
cpre381-toolflow/output/addi_1.s/work/_lib1_33.qdb
cpre381-toolflow/output/addi_1.s/work/_lib1_33.qpg
cpre381-toolflow/output/addi_1.s/work/_lib1_33.qtl
cpre381-toolflow/output/addi_1.s/work/@_opt/_lib.qdb
cpre381-toolflow/output/addi_1.s/work/@_opt/_lib1_0.qdb
cpre381-toolflow/output/addi_1.s/work/@_opt/_lib1_0.qpg
cpre381-toolflow/output/addi_1.s/work/@_opt/_lib1_0.qtl
cpre381-toolflow/output/addi_1.s/work/@_opt/_lib2_0.qpg
cpre381-toolflow/output/addi_1.s/work/@_opt/_lib2_0.qtl
cpre381-toolflow/output/addi_1.s/work/@_opt/_lib3_0.qtl
cpre381-toolflow/output/addi_1.s/work/@_opt/_data/exempt13uT7x
cpre381-toolflow/output/addi_1.s/work/@_opt/_data/exempt514ZPh
cpre381-toolflow/output/addi_1.s/work/@_opt/_data/exemptl3RKoU
cpre381-toolflow/output/addi_2.s/vcom.log
cpre381-toolflow/output/addi_2.s/vsim.dbg
cpre381-toolflow/output/addi_2.s/vsim.log
cpre381-toolflow/output/addi_2.s/vsim.wlf
cpre381-toolflow/output/addi_2.s/work/_info
cpre381-toolflow/output/addi_2.s/work/_lib.qdb
cpre381-toolflow/output/addi_2.s/work/_lib1_33.qdb
cpre381-toolflow/output/addi_2.s/work/_lib1_33.qpg
cpre381-toolflow/output/addi_2.s/work/_lib1_33.qtl
cpre381-toolflow/output/addi_2.s/work/@_opt/_lib.qdb
cpre381-toolflow/output/addi_2.s/work/@_opt/_lib1_0.qdb
cpre381-toolflow/output/addi_2.s/work/@_opt/_lib1_0.qpg
cpre381-toolflow/output/addi_2.s/work/@_opt/_lib1_0.qtl
cpre381-toolflow/output/addi_2.s/work/@_opt/_lib2_0.qpg
cpre381-toolflow/output/addi_2.s/work/@_opt/_lib2_0.qtl
cpre381-toolflow/output/addi_2.s/work/@_opt/_lib3_0.qtl
cpre381-toolflow/output/addi_2.s/work/@_opt/_data/exempt13uT7x
cpre381-toolflow/output/addi_2.s/work/@_opt/_data/exempt514ZPh
cpre381-toolflow/output/addi_2.s/work/@_opt/_data/exemptl3RKoU
cpre381-toolflow/output/addi_3.s/vcom.log
cpre381-toolflow/output/addi_3.s/vsim.dbg
cpre381-toolflow/output/addi_3.s/vsim.log
cpre381-toolflow/output/addi_3.s/vsim.wlf
cpre381-toolflow/output/addi_3.s/work/_info
cpre381-toolflow/output/addi_3.s/work/_lib.qdb
cpre381-toolflow/output/addi_3.s/work/_lib1_33.qdb
cpre381-toolflow/output/addi_3.s/work/_lib1_33.qpg
cpre381-toolflow/output/addi_3.s/work/_lib1_33.qtl
cpre381-toolflow/output/addi_3.s/work/@_opt/_lib.qdb
cpre381-toolflow/output/addi_3.s/work/@_opt/_lib1_0.qdb
cpre381-toolflow/output/addi_3.s/work/@_opt/_lib1_0.qpg
cpre381-toolflow/output/addi_3.s/work/@_opt/_lib1_0.qtl
cpre381-toolflow/output/addi_3.s/work/@_opt/_lib2_0.qpg
cpre381-toolflow/output/addi_3.s/work/@_opt/_lib2_0.qtl
cpre381-toolflow/output/addi_3.s/work/@_opt/_lib3_0.qtl
cpre381-toolflow/output/addi_3.s/work/@_opt/_data/exempt13uT7x
cpre381-toolflow/output/addi_3.s/work/@_opt/_data/exempt514ZPh
cpre381-toolflow/output/addi_3.s/work/@_opt/_data/exemptl3RKoU
cpre381-toolflow/output/addi_4.s/vcom.log
cpre381-toolflow/output/addi_4.s/vsim.dbg
cpre381-toolflow/output/addi_4.s/vsim.log
cpre381-toolflow/output/addi_4.s/vsim.wlf
cpre381-toolflow/output/addi_4.s/work/_info
cpre381-toolflow/output/addi_4.s/work/_lib.qdb
cpre381-toolflow/output/addi_4.s/work/_lib1_33.qdb
cpre381-toolflow/output/addi_4.s/work/_lib1_33.qpg
cpre381-toolflow/output/addi_4.s/work/_lib1_33.qtl
cpre381-toolflow/output/addi_4.s/work/@_opt/_lib.qdb
cpre381-toolflow/output/addi_4.s/work/@_opt/_lib1_0.qdb
cpre381-toolflow/output/addi_4.s/work/@_opt/_lib1_0.qpg
cpre381-toolflow/output/addi_4.s/work/@_opt/_lib1_0.qtl
cpre381-toolflow/output/addi_4.s/work/@_opt/_lib2_0.qpg
cpre381-toolflow/output/addi_4.s/work/@_opt/_lib2_0.qtl
cpre381-toolflow/output/addi_4.s/work/@_opt/_lib3_0.qtl
cpre381-toolflow/output/addi_4.s/work/@_opt/_data/exempt13uT7x
cpre381-toolflow/output/addi_4.s/work/@_opt/_data/exempt514ZPh
cpre381-toolflow/output/addi_4.s/work/@_opt/_data/exemptl3RKoU
cpre381-toolflow/output/addi_5.s/vcom.log
cpre381-toolflow/output/addi_5.s/vsim.dbg
cpre381-toolflow/output/addi_5.s/vsim.log
cpre381-toolflow/output/addi_5.s/vsim.wlf
cpre381-toolflow/output/addi_5.s/work/_info
cpre381-toolflow/output/addi_5.s/work/_lib.qdb
cpre381-toolflow/output/addi_5.s/work/_lib1_33.qdb
cpre381-toolflow/output/addi_5.s/work/_lib1_33.qpg
cpre381-toolflow/output/addi_5.s/work/_lib1_33.qtl
cpre381-toolflow/output/addi_5.s/work/@_opt/_lib.qdb
cpre381-toolflow/output/addi_5.s/work/@_opt/_lib1_0.qdb
cpre381-toolflow/output/addi_5.s/work/@_opt/_lib1_0.qpg
cpre381-toolflow/output/addi_5.s/work/@_opt/_lib1_0.qtl
cpre381-toolflow/output/addi_5.s/work/@_opt/_lib2_0.qpg
cpre381-toolflow/output/addi_5.s/work/@_opt/_lib2_0.qtl
cpre381-toolflow/output/addi_5.s/work/@_opt/_lib3_0.qtl
cpre381-toolflow/output/addi_5.s/work/@_opt/_data/exempt13uT7x
cpre381-toolflow/output/addi_5.s/work/@_opt/_data/exempt514ZPh
cpre381-toolflow/output/addi_5.s/work/@_opt/_data/exemptl3RKoU
cpre381-toolflow/output/addiu_1.s/vcom.log
cpre381-toolflow/output/addiu_1.s/vsim.dbg
cpre381-toolflow/output/addiu_1.s/vsim.log
cpre381-toolflow/output/addiu_1.s/vsim.wlf
cpre381-toolflow/output/addiu_1.s/work/_info
cpre381-toolflow/output/addiu_1.s/work/_lib.qdb
cpre381-toolflow/output/addiu_1.s/work/_lib1_33.qdb
cpre381-toolflow/output/addiu_1.s/work/_lib1_33.qpg
cpre381-toolflow/output/addiu_1.s/work/_lib1_33.qtl
cpre381-toolflow/output/addiu_1.s/work/@_opt/_lib.qdb
cpre381-toolflow/output/addiu_1.s/work/@_opt/_lib1_0.qdb
cpre381-toolflow/output/addiu_1.s/work/@_opt/_lib1_0.qpg
cpre381-toolflow/output/addiu_1.s/work/@_opt/_lib1_0.qtl
cpre381-toolflow/output/addiu_1.s/work/@_opt/_lib2_0.qpg
cpre381-toolflow/output/addiu_1.s/work/@_opt/_lib2_0.qtl
cpre381-toolflow/output/addiu_1.s/work/@_opt/_lib3_0.qtl
cpre381-toolflow/output/addiu_1.s/work/@_opt/_data/exempt13uT7x
cpre381-toolflow/output/addiu_1.s/work/@_opt/_data/exempt514ZPh
cpre381-toolflow/output/addiu_1.s/work/@_opt/_data/exemptl3RKoU
cpre381-toolflow/output/addiu_2.s/vcom.log
cpre381-toolflow/output/addiu_2.s/vsim.dbg
cpre381-toolflow/output/addiu_2.s/vsim.log
cpre381-toolflow/output/addiu_2.s/vsim.wlf
cpre381-toolflow/output/addiu_2.s/work/_info
cpre381-toolflow/output/addiu_2.s/work/_lib.qdb
cpre381-toolflow/output/addiu_2.s/work/_lib1_33.qdb
cpre381-toolflow/output/addiu_2.s/work/_lib1_33.qpg
cpre381-toolflow/output/addiu_2.s/work/_lib1_33.qtl
cpre381-toolflow/output/addiu_2.s/work/@_opt/_lib.qdb
cpre381-toolflow/output/addiu_2.s/work/@_opt/_lib1_0.qdb
cpre381-toolflow/output/addiu_2.s/work/@_opt/_lib1_0.qpg
cpre381-toolflow/output/addiu_2.s/work/@_opt/_lib1_0.qtl
cpre381-toolflow/output/addiu_2.s/work/@_opt/_lib2_0.qpg
cpre381-toolflow/output/addiu_2.s/work/@_opt/_lib2_0.qtl
cpre381-toolflow/output/addiu_2.s/work/@_opt/_lib3_0.qtl
cpre381-toolflow/output/addiu_2.s/work/@_opt/_data/exempt13uT7x
cpre381-toolflow/output/addiu_2.s/work/@_opt/_data/exempt514ZPh
cpre381-toolflow/output/addiu_2.s/work/@_opt/_data/exemptl3RKoU
cpre381-toolflow/output/addiu_3.s/vcom.log
cpre381-toolflow/output/addiu_3.s/vsim.dbg
cpre381-toolflow/output/addiu_3.s/vsim.log
cpre381-toolflow/output/addiu_3.s/vsim.wlf
cpre381-toolflow/output/addiu_3.s/work/_info
cpre381-toolflow/output/addiu_3.s/work/_lib.qdb
cpre381-toolflow/output/addiu_3.s/work/_lib1_33.qdb
cpre381-toolflow/output/addiu_3.s/work/_lib1_33.qpg
cpre381-toolflow/output/addiu_3.s/work/_lib1_33.qtl
cpre381-toolflow/output/addiu_3.s/work/@_opt/_lib.qdb
cpre381-toolflow/output/addiu_3.s/work/@_opt/_lib1_0.qdb
cpre381-toolflow/output/addiu_3.s/work/@_opt/_lib1_0.qpg
cpre381-toolflow/output/addiu_3.s/work/@_opt/_lib1_0.qtl
cpre381-toolflow/output/addiu_3.s/work/@_opt/_lib2_0.qpg
cpre381-toolflow/output/addiu_3.s/work/@_opt/_lib2_0.qtl
cpre381-toolflow/output/addiu_3.s/work/@_opt/_lib3_0.qtl
cpre381-toolflow/output/addiu_3.s/work/@_opt/_data/exempt13uT7x
cpre381-toolflow/output/addiu_3.s/work/@_opt/_data/exempt514ZPh
cpre381-toolflow/output/addiu_3.s/work/@_opt/_data/exemptl3RKoU
